{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AI Job Assistant</title>

    <link rel="stylesheet"
          href="{% static 'css/chatbot.css' %}">

</head>

<body>

    <!-- Floating Chat Button -->

    <button id="chat-button">

        💬

    </button>


    <!-- ===========================
            CHAT WIDGET
    ============================ -->

    <div class="chat-window">

        <!-- ===========================
                HEADER
        ============================ -->

        <div class="chat-header">

            <div class="header-left">

                <h2>AI Job Assistant</h2>

                <p>🟢 Online</p>

            </div>

            <button id="close-chat">

                ✕

            </button>

        </div>



        <!-- ===========================
                WELCOME
        ============================ -->

        <div id="welcome-section">

            <h3>

                 Welcome!

            </h3>

            <p>

                How can I help you today?

            </p>

            <div class="feature-list">

                

            </div>

        </div>



        <!-- ===========================
            QUICK ACTIONS
        ============================ -->

        <!-- <div id="quick-actions">

            <button class="quick-btn">

                Recommend Jobs

            </button>

            <button class="quick-btn">

                Resume Review

            </button>

            <button class="quick-btn">

                Interview Questions

            </button>

        </div> -->



        <!-- ===========================
                CHAT AREA
        ============================ -->

        <div class="chat-body">

        </div>



        <!-- ===========================
                INPUT AREA
        ============================ -->

        <div class="chat-input">

            <input

                type="text"

                id="question"

                placeholder="Ask me anything..."

            >

            <button class="chat-send">

                ➜

            </button>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    




    <script src="{% static 'js/chatbot.js' %}"></script>

</body>

</html>